*.*~
*.o
*.lo
*.swp
*.core
test.core
bin/*
aclocal.m4
config
config.*
configure
core
Makefile
Makefile.in
*.deps*
*.dirstamp
autom4te.cache/
build-aux/*
libobj/*
libtool
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
m4/pkg.m4
stamp-h1
*.bak
include/*.bak
.libs/
test

