language:
  - c

compiler:
  - gcc

before_install:
  - sudo apt-get update -qq
  - sudo apt-get install -y pkg-config autoconf automake build-essential libssl-dev make libjansson4 libjansson-dev libtool tar 
  - mkdir build && cd build/ && wget https://github.com/libevent/libevent/releases/download/release-2.0.22-stable/libevent-2.0.22-stable.tar.gz && tar xvzf libevent-2.0.22-stable.tar.gz && cd libevent-2.0.22-stable && ./configure && make && sudo make install

script: autoreconf -fiv && ./configure && make 

